.text-logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
}
p {
    margin: 0;
}
.header {
    width: 100%;
    /*background-color: #a6a6a6 !important;*/
}
textarea {
    border: 1px solid #ced4da !important;
}
.card-company {
    height: 250px;
    margin-bottom: 25px;
}
.col-md-3.card-company {
    width: 24%;
    margin-left: 10px;
}
.company-info {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #000;
}
.form-company {
    display: none;
    width: 430px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.description-company-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.card-company:hover {
    background: rgba(0,0,0,0.1);
    box-shadow: 0 5px 0px #3C93D5;
}
.company-comment-form {
    display: block;
}
.disclosure {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.btn-enabled-company {
    width: 200px;
}
.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
}

.footer-comment {
    color: #777;
}

.vote.plus:hover {
    color: green;
}

.vote.minus:hover {
    color: red;
}

.vote {
    cursor: pointer;
}

.comment-reply a {
    color: #777;
}

.comment-reply a:hover, .comment-reply a:focus {
    color: #000;
    text-decoration: none;
}

.devide {
    padding: 0px 4px;
    font-size: 0.9em;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}
.media-list {
    display: flex;
    margin-top: 20px;
}
.media {
    display: flex;
}
.media-left {
    margin-right: 20px;
    width: 50px;
}
.mobile-company {
    display: flex;
    align-items: center;
}
.description-company-width {
    width: 80%;
}
@media only screen and (max-device-width: 1024px) {
    .card-orientation {
        flex-direction: column ;
        align-items: center;
    }
    .col-md-3.card-company {
        width: 80%;
    }
    .form-company, .btn-enabled-company {
        width: 100%;
    }
    .form-company-size {
        align-items: center;
    }
    .mobile-company {
        display: block;
    }
}

p, a {
    color: #000000;
    text-decoration: none !important;
    margin: 0 !important;
}
.navbar-brand, .navbar-brand:hover {
    color: #494949;
}
body {
    background-color: #f4f4f4 !important;
    height: 100%;
    width: 100%;
    --bs-gutter-x: 0px !important;
    /*background-color: floralwhite !important;*/
    /*background-image: url("/images/bgc.png");*/
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
}
.row {
    padding-left: 15px;
}
